In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
%matplotlib inline
import re
import random
import locale

In [101]:
wellcome = pd.read_csv('WELLCOME_APCspend2013_forThinkful.csv',encoding = "ISO-8859-1")
wellcome.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [103]:
wellcome.columns = ['ID','Publisher','Journal','Article','Cost']

In [104]:
wellcome = wellcome.dropna(subset=['Publisher','Journal','Article'])
wellcome.head()

,ID,Publisher,Journal,Article,Cost
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [105]:
Journal = wellcome['Journal'].value_counts()
print('Below is the current number of unique journal values:')
print(Journal.sum())
print("")

Below is the current number of unique journal values:
2126

In [106]:
x = wellcome['Cost'].str.extract('([\d]+.[\d]+)', expand=True)[0]
wellcome['Pounds'] = x.astype(float)

In [107]:
wellcome.describe()

              Pounds
count    2126.000000
mean    24072.451609
std    146895.027687
min         0.000000
25%      1280.000000
50%      1883.860000
75%      2321.230000
max    999999.000000

In [108]:
journals = wellcome.groupby('Journal')[['Article']].count().sort_values(by=['Article'],ascending=False)
journals.columns = ['Article Count']
journals.head(5)

                                                 Article Count
Journal
PLoS One                                                    92
PLoS ONE                                                    62
Journal of Biological Chemistry                             48
Nucleic Acids Research                                      21
Proceedings of the National Academy of Sciences             19

In [115]:
median = wellcome.groupby('Journal')[['Pounds']].median()
median.columns = ['Median']
medianperarticle = pd.concat([median,journals],axis=1)
medianperarticle.columns = ['Median','Article Count']
medianperarticle['Median Per Article'] = medianperarticle['Median']/medianperarticle['Article Count']
medianperarticle.head(5)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

                            Median  Article Count  Median Per Article
ACS Chemical Biology       1294.59              5             258.918
ACS Chemical Neuroscience  1186.80              1            1186.800
ACS NANO                    642.89              1             642.890
ACS Nano                    693.39              1             693.390
ACTA F                      754.90              1             754.900

In [116]:
mean = wellcome.groupby('Journal')[['Pounds']].mean()
mean.columns = ['Mean']
meanperarticle = pd.concat([mean,journals],axis=1)
meanperarticle.columns = ['Mean','Article Count']
meanperarticle['Mean Per Article'] = meanperarticle['Mean']/meanperarticle['Article Count']
meanperarticle.head(5)
sort=True

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until